body {
    font-family:'Garamond';
    margin: 1% 2% 1% 2%;
}

.container {
    display: flex;
    justify-content: space-between;
}

.container nav{
    justify-content: right;
}

.logo {
    justify-content: left;
}

.capa {
    display: flex;
    justify-content: center;
    background-color: #ececec;
}

article {
    display: flex;
    flex-direction: column;
}

article p {
    text-align: left;
}

footer {
    display: flex;
    justify-content: center;
    font-weight: bolder;
}