body {
    font-family:'Poppins';
    margin: 1% 2% 1% 2%;
}

.container {
    display: flex;
    justify-content: space-between;
}

.container nav{
    justify-content: right;
}

nav a {
    text-decoration: none;
    color: black;
}

.logo {
    justify-content: left;
    padding-bottom: 5px;
}

.capa {
    display: flex;
    justify-content: center;
    background-color: #ececec;
}

.conteudo {
    display: flex;
    flex-direction: column;
}

.conteudo p {
    text-align: left;
}

.form {
    justify-content: center;
}

article {
    display: flex;
    flex-direction: column;
}

article p {
    text-align: left;
}

footer {
    display: flex;
    justify-content: center;
    font-weight: bolder;
}

